.feedbackPage {
    //this should just be for the brick image
    min-height: 100vh;
    width: auto;

    .backgroundImage{
        height: 75vh;
        width: 75%;
        background-image: linear-gradient(
            rgba(202, 199, 199, 0.3),
            rgba(202, 199, 199, 0.3)
          ),
          url("../../assets/BrewDogBeersimg.jpeg");
        position: relative;
        left: 250px;
        // //background-size: cover;
        // background-repeat: no-repeat;
        // position: relative;
        // left: 225px;
        // // background-position: center;
        // padding: 20px;
    }

    .feedback {
        position: relative;  
        top: 100px;
        right: 20px;  
        height: 200px;
        width: 300px;
        background-color: #79B9C2;
        border: solid 1px lightgrey;
        border-radius: 5px;
        margin: 50px 425px;
        text-align: center;

        h2 {
            color: #FBFBFB;
            font-family: 'League Gothic';
            font-size: 40px;
        }

        p {
            color: #FBFBFB;
            font-family: 'Inter';
            font-size: 15px;
        }
    }
}