.filterMenu {
    height: auto;
    width: 300px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: fixed;
    top: 60px;
    left: 2px;

    .filterHeading {
        font-size: 25px;
    }

    ul {
        list-style-type: none;
        list-style-position: inside;
        position: fixed;
        left: -20px;
        top: 130px;
    }

    .filterItems {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 300px;
        padding: 5px;
        font-size: 20px;
    }
}





