.searchPanel{
    display: flex;
    flex-direction: row;

    // flex-wrap: wrap;
    // height: 40px;
    // color:#F6F7F7;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    // border: 1px solid lightgrey;
    // background-color:  #F6F7F7;
    margin: 2px 2px;
    // font-family: 'Inter';
    // font-size: 15px;
}

